h1= question.title
p= question.body
= render 'active_storage/attachments/attachments', resource: question
- if policy(question).update?
  p= link_to 'Edit', '#', class: 'edit-question-link', data: { question_id: question.id }
  p= link_to 'Delete question', question_path(question), method: :delete, data: {confirm: 'Are you sure?'}
  = render 'update_form', question: question
= render 'subscriptions/links'
= render 'links/index', resource: question
= render 'badges/badge', badge: question.badge
= render 'shared/vote_cell', resource: question
= render 'comments/list', resource: question