- if policy([:subscriptions, question]).create?
  = link_to 'Subscribe', question_subscriptions_path(question), method: :post, class: 'card-link mr-3'
- if subscription.present? && policy(subscription).destroy?
  = link_to 'Unsubscribe', subscription_path(subscription), method: :delete, class: 'card-link mr-3'
    